@media only screen and (max-width: 1020px) {
  .navContainer{
    display: grid;
    grid-template-columns: repeat(2, .2fr);
    width: 100%;
  }
  nav {
    display: none;
  }
  .menuContainer > .menuIcon {
    display: initial;
  }
}

@media only screen and (max-width: 850px) {
  html,body{
    font-size: 1.5vw;
  }
  .first{
    background: url("./assets/right_bg_landing_header.svg"),
    url("./assets/center_bg_landing_header.svg")
    #404eed;
    background-repeat: no-repeat;
    background-size: 70%, auto;
    background-position: 200% bottom, 100% bottom;

    padding-inline: 5%;
    gap: 15%;
  }
  @keyframes movebg{
    to{
      background-position: 200% bottom, 0% bottom;
    }
  }
  .firstMainContent{
    justify-items: start;
    text-align: left;

    padding-inline: 0 30%;
  }
  .firstMainContent .btnCont {
    flex-direction: column;
    align-content: flex-start;
  }
  /* ------------second, third, and fourth------------ */
  .innercontent {
    flex-direction: column;
  }
  .imageCont{
    width: 80%;
  }
}